body{
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
    margin: 20;
    padding: 0;
    text-align: left;
}

hr{
    width: 80%;
    border: 2px solid blue;
}

#header{
    text-align: center;
    margin-bottom: 20px;
}

#header h1{
    font-size: 36px;
    margin: 0;
}

#header p{
    font-size: 18px;
}

nav ul{
    list-style-type: none;
}


nav ul li a{
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}
#contact p a{
    text-decoration: none;
    color: black;
}